// STYLUS - mixins.styl

// colors object
colors = {
  primaryText: #787878,
  secondaryText: #ff3170,
  tertiaryText: #fff,
}

// backgrounds object
backgrounds = {
  main: #fff,
  secondary: #000,
  gradient: linear-gradient(to bottom, #d60041 0%, #a90040 100%)
  gradientHover: linear-gradient(to bottom, #a90040 0%, #d60041 100%)
}